<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %} {{ "Main page"|trans }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% stylesheets  output="css/all.css"
    '%kernel.root_dir%/../vendor/twbs/bootstrap/less/bootstrap.less'
    'bundles/app/css/styles.css' %}
    {# better for development #}
    {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>#}
    {% endstylesheets %}
    {# use output="css/all.css" to compile in one file this better use in production #}
    <link rel="stylesheet" href="{{ asset('css/all.css') }}">
    {% block styles %} {% endblock %}
</head>
<body>
<div class="wrap">
    <nav class="navbar-inverse navbar-fixed-top navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">The Best Project Ever</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-right nav">
                    <li class="first">
                        <a href="{{ path('homepage') }}">{{ "Home"|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('cart_index') }}">{{ "Cart"|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('create_feedback') }}">{{ "Feedback"|trans }}</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('admin_panel') }}">{{ "Admin panel"|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('products_list') }}">{{ "Products"|trans }}</a>
                        </li>
                    {% endif %}
                    <li class="last">
                        {% if app.user %}
                            <a href="{{ path('logout') }}">{{ "Logout"|trans }}</a>
                        {% elseif "login" != app.request.attributes.get('_route') %}
                            <div class="navbar-form navbar-right">
                                <button type="submit" class="btn btn-success" data-toggle="modal"
                                        data-target="#loginDialog">Login
                                </button>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <div id="content" class="container">
        {% for flashMessage in app.session.flashbag.get('message') %}
            <div class="alert alert-success flash_notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger flash_error">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</div>
{% javascripts output='js/all.js'
'%kernel.root_dir%/../vendor/frameworks/jquery/jquery.js'
'%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.js' %}
{% endjavascripts %}

{% if not app.user %}
    <div id="loginDialog" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ "Login"|trans }}</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path("login_check") }}">
                        <div class="form-group">
                            <input name="_username" type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input name="_password" type="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                {#</div>#}
            </div>
        </div>
    </div>
{% endif %}

<script src="{{ asset('js/all.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
