{% extends 'AppBundle::layout.html.twig' %}

{% block title %} {{ parent() }} - {{ "Category page"|trans }} - {{ category.title | capitalize }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/category.css') }}">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h2>{{ "Category page"|trans }}</h2>
        <div id="container">
            {{ dump(category) }}
            {{ dump(products) }}
            <hr>
            {% for key, product in products %}
                {{ product.title }} <br />
                {{ product.description }} <br />
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}