{% extends "AppBundle::layout.html.twig" %}

{% block content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label required" for="username">Username:</label>
        <div class="col-sm-5">
            <input type="text" id="username" value="{{ last_username }}"
                   name="_username" required="required" maxlength="255" class="form-control">
        </div>
    </div>

    <div class="form-group">

        <label class="col-sm-2 control-label required" for="password">Password:</label>
        <div class="col-sm-5">
            <input type="password" id="password"
                   name="_password" required="required" maxlength="255" class="form-control">
        </div>
    </div>

    <button class="btn btn-success" type="submit">Login</button>
</form>
{% endblock %}