{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Admin panel</h1>
    <a class="btn btn-success" href="{{ path('product_create') }}">{{ "Create product"|trans }}</a>

{% endblock %}