{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <a class="btn btn-success" href="{{ path('product_create') }}">{{ "Create product"|trans }}</a>
    <br />
    <br />
    <div class="table-responsive">
        <table class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th>{{ "SKU"|trans }}</th>
                    <th>{{ "Title"|trans }}</th>
                    <th>{{ "Price"|trans }}</th>
                    <th>{{ "Actions"|trans }}</th>
                </tr>
            </thead>
            {% for product in products %}
                <tr>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.title|capitalize }}</td>
                    <td>{{ product.price|number_format }}</td>
                    <td><a href="{{ path('product_update',{"id":product.id}) }}">{{ "Update product"|trans }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}