{% extends 'AppBundle::layout.html.twig' %}

{% use 'AppBundle:admin/product:_form.html.twig' with form as mainform %}

{% block content %}
    <h1>{{ "Update product"|trans }}</h1>
    {{ block('mainform') }}
{% endblock %}